<!doctype html>

<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Real Time Wage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="main.js"></script>
  </head>
  <body ng-controller="Controller">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" id="content">
        <div id="counter">${{ display_counter | number }}</div>
        <hr>
        <form class="form-inline" id="frequency-form">
          <div class="form-group">
            <label for="input-salary">Your salary: </label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control"
                     ng-model="salary" id="input-salary">
            </div>
            <label class="radio-inline">
              <input type="radio" name="salaryFrequency" ng-model="salaryFrequency"
                     value="monthly"> monthly
            </label>
            <label class="radio-inline">
              <input type="radio" name="salaryFrequency" ng-model="salaryFrequency"
                     value="yearly"> yearly
            </label>
          </div>
        </form>

        <form class="form-inline" id="start-form">
          <div class="form-group">
            <label>Amount since: </label>
            <label class="radio-inline">
              <input type="radio" name="startAt" ng-model="startAt"
                     value="now">Page open
            </label>
            <label class="radio-inline">
              <input type="radio" name="startAt" ng-model="startAt"
                     value="day">Midnight
            </label>
            <label class="radio-inline">
              <input type="radio" name="startAt" ng-model="startAt"
                     value="month">1st of the month
            </label>
            <label class="radio-inline">
              <input type="radio" name="startAt" ng-model="startAt"
                     value="year">1st of January
            </label>
          </div>
        </form>
        <hr>
        <p>
          This page displays in real time the money you've earned,
          according to your salary.
          <br>
          <a href="https://github.com/rtwage/rtwage.github.io">Get
            the source code.</a>
        </p>
      </div>
    </div>
  </body>
</html>
